DCLBillboardMaster/bin/*
DCLManager/frontend/node_modules/*
.DS_Store
soljson*
DCLManager/node_modules/.bin/acorn
DCLManager/artifacts/*
DCLManager/frontend/src/hardhat/*
node_modules/*
*.idea*
/DCLDelivery/bin/
!/DCLDelivery/Image Billboard Black/bin/
/DCLManager/cache/
!/DCLManager/artifacts/
